
.all {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}
.banner {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 30px;
	background-color: #555E72;
}
.header {
	position: absolute;
	top: 30px;
	left: 0px;
	right: 0px;
	bottom: 60%;
	overflow: auto;
	padding: 8px 0 20px 8px;
	background-color: #f8f8f8;
}
.rows {
	position: absolute;
	top: 40%;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow: auto;
	background-color: #f8f8f8;
	border-top: 4px solid #555E72;
}

.dbTable {
	display: inline-block;
	vertical-align : middle;
	margin: 4px 8px 4px 8px;
	min-width: 350px;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
}

.column {
	width: auto;
	padding: 0 8px 0 8px;
}


div {
	margin: 0 0 0 0;
	font: 14px arial, sans-serif;
}

input[type=text] {
	border: none;
	border-bottom: 1px solid #dddddd;
	font: 14px arial, sans-serif;
	padding: 0 4px 0 4px;
}
input[type=text]:focus {
	background-color: lightblue;
}
table {
	border-collapse: collapse;
	width: 100%;
	font: 14px arial, sans-serif;
}

th, td {
	padding: 4px 16px 4px 16px;
	text-align: left;
	border: 1px solid #dddddd;
	/* border-top: 1px solid #dddddd; */
	/* border-left: 1px solid #dddddd; */
	/* border-right: 1px solid #dddddd; */
}

th {
	background-color: #555E72;
	color: white;
	font-size: 16px;
	border: 0;
}

.columnTitle {
	display: inline-block;
	width: auto;
	text-align: right;
	padding: 0 4px 0 4px;
	vertical-align: middle;
}
.enableCheckBox {
	display: inline-block;
	vertical-align: middle;
}
.transformInput {
	display: inline-block;
	width: 80px;
	vertical-align: middle;
	color: #888888;
}
.filterInput {
	display: inline-block;
	width: 120px;
	vertical-align: middle;
}
.tableName {
	padding: 0 4px 0 4px;
	color: white;
	font: 16px arial, sans-serif;	
	font-weight: bold;
	background-color: #aaaaaa;
	width: auto;
}
.tableEnvelope {
	padding: 4px 0 8px 0;
	background-color: white;
}
.insignia {
	position: absolute;
	left: 16px;
	top: 3px;
	width: auto;
	height: auto;
	color: #aaaaaa;
	font: 20px arial, sans-serif;	
	font-weight: bold;
}
.databaseFolder {
	position: absolute;
	left: 125px;
	top: 3px;
	width: auto;
	height: auto;
	color: white;
	font: 20px arial, sans-serif;	
	font-weight: bold;
}
.rightControls {
	position: absolute;
	right: 30px;
	top: -2px;
	width: auto;
	height: auto;
	color: #aaaaaa;
	font: 30px arial, sans-serif;	
	font-weight: bold;
}
.rightControls:hover {
	color: white;
	cursor: pointer;
}

.highlighed {
	background-color: lightblue;	
	/* text-shadow: 0 0 12px lightblue, 0 0 12px lightblue, 0 0 12px lightblue; */
	/* font-weight: bold; */
}

.nullCell {
	border: 0;
}
.normalCell {
	background-color: white;
}

